#about{
  width: 100%;
  background-color: var(--main-bg-color);
  background-size: cover;
  padding-top:50px;
  padding-bottom:50px;
}
.section {
  overflow: hidden;
  padding-bottom: 100px;
}

.section-title {
  text-align: center;
}

.section-title h2 {
  font-size: 44px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
  color: var(--main-secondary-color);
}
/*
.colorOverlay{
  position:relative;
  width:300px;
  height:300px;
  border-radius: 2%;
  background: var(--main-primary-color);
  opacity:.5;
  transition: ease-in-out .4s;
}

.colorOverlay:hover{
  opacity: 0;
}
.profileBox:hover{
  background-image: url("../../assets/img/profile.jpeg") ;
  transform: scale(1.05);
}*/


.textDescription{
  color: var(--main-sub-color);
  font-size: 18px;
  font-weight: 600;
}


.tech-list{
  padding: 0px;
  list-style: none;

}

.tech-list::before{
  content: "○";
  font-size: 18px;
  padding-right: 10px;
  color: var(--main-primary-color);
  transition: all 0.3s ease-in-out;
}

ul{
  padding-left: 0px;
}
