<section id="about" class="profile-sec">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2><span>About</span></h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-10 col-sm-10 col-md-5 col-lg-4 justify-content-center">
        <img id="profilePicture" class="img-fluid mx-auto d-block" src="../../assets/img/profile-bwSQ.jpeg" alt="profilePictureBW" />
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content">
        <div class="textDescription">
          <p>Hello there!</p>
          <p>
            My name is Yash Gajera, and I am a senior at
            <a class="link" href="https://www.newark.rutgers.edu/">Rutgers University - Newark</a>
            studying Computer Science and Minor in Mathematics. I am usually
            building a website, learning new skills, and building unique
            software in my free time.
          </p>
          <p>
            When I am not coding on a project, I enjoy playing video games,
            photography, and exploring various cuisine. If you know an excellent
            place to dine, send me a suggestion.
          </p>
          <p>
            I am currently working with a few technologies to expand my skill
            set.
          </p>

          <div class="row">
            <div class="col-6">
              <ul>
                <li class="tech-list">Python</li>
                <li class="tech-list">Angular</li>
                <li class="tech-list">ML/AI</li>
              </ul>
            </div>
            <div class="col-6">
              <ul>
                <li class="tech-list">React</li>
                <li class="tech-list">SQL</li>
                <li class="tech-list">Flask</li>
              </ul>
            </div>
          </div>
          <!-- <p>

          </p> -->
        </div>
      </div>
    </div>
  </div>
</section>
