#about{
  width: 100%;
  height: 100vh;
  background-color: #092532;
  background-size: cover;
  padding-top:50px;
}
.section {
  overflow: hidden;
}

.section-title {
  text-align: center;
}

.section-title h2 {
  font-size: 44px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 20px;
  margin-bottom: 20px;
  position: relative;
  color: #e4e3e3;
}

.profileBox{
  height: 300px;
  width: 300px;
  background-image: url("../../assets/img/profile-bw.jpeg") ;
  background-size: cover;
  background-position: center center;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: ease-in-out .3s;
  border-radius: 3%;
}

.colorOverlay{
  position:relative;
  width:300px;
  height:300px;
  border-radius: 3%;
  background:#e1ffc2;
  opacity:.5;
  transition: ease-in-out .4s;
}

.colorOverlay:hover{
  opacity: 0;
}
.profileBox:hover{
  background-image: url("../../assets/img/profile.jpeg") ;
  transform: scale(1.05);
}
.textDescription{

}
