<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2><span>About</span></h2>
    </div>
    <div class="profile">


      <div class="pictureBox">
      </div>


      <div class="textDescription">
        <p>Hello there!</p>
        <p>I am Yash Gajera, and I am a senior at <a href="https://www.newark.rutgers.edu/"
            style="color: var(--main-other-color);">Rutgers University - Newark</a> studying Computer Science and Minor
          in Mathematics. I am usually building a website, learning new skills, and building unique software in my free
          time.</p>
        <p>When I am not coding on a project, I enjoy playing video games, photography, and exploring various cuisine.
          If you know an excellent place to dine, send me a suggestion.</p>
        <p>I am currently working with a few technologies to expand my skill set.</p>
        <div class="container">
          <div class="row">
            <div class="col-5 tech-list">Angular</div>
            <div class="col-5 tech-list">React</div>
          </div>
          <div class="row">
            <div class="col-5 tech-list">Python</div>
            <div class="col-5 tech-list">PHP</div>
          </div>
          <div class="row">
            <div class="col-5 tech-list">Flask</div>
            <div class="col-5 tech-list">MySQL</div>
          </div>
        </div>
      </div>



    </div>
  </div>
</section>
