.navbar{
  padding: 20px 5% 20px 5%;
}
.navbar-nav {
  margin-left: auto;
}

ul.navbar-nav li.nav-item a.nav-link{
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

ul.navbar-nav li.nav-item a.nav-link:hover{
  color: var(--main-primary-color);
}
#resume{
  margin: 0px 10px 0 10px;
  color: var(--main-primary-color);
  line-height: 1;
  border-width: 1px;
  border-style: solid;
  border-color: var(--main-primary-color);
  padding: 0.70rem 1rem;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
#resume:hover{
  background-color: var(--hover-primary-bg-color);
}


