
.navbar{
  padding: 20px 5% 20px 5%;
  background-color: var(--main-bg-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.navbar-nav {
  margin-left: auto;
}
.nav-down{
  transform:translateY(-100%);
  transition: all 0.3s ease-in-out;
}
.nav-up{
  transform:translateY(0);
  transition: all 0.3s ease-in-out;
}
.nav-init{
  padding: 10px 5% 10px 5%;
  box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -10px;
  transition: all 0.5s ease-in-out;
}
ul.navbar-nav li.nav-item a.nav-link{
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

ul.navbar-nav li.nav-item a.nav-link:hover{
  color: var(--main-primary-color);
}
#resume{
  margin: 0px 10px 0 10px;
  color: var(--main-primary-color);
  line-height: 1;
  border-width: 1px;
  border-style: solid;
  border-color: var(--main-primary-color);
  padding: 0.70rem 1rem;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
#resume:hover{
  background-color: var(--hover-primary-bg-color);
}


