<section id="experience" class="experience">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2><span>Work Experience</span></h2>
    </div>
    <div class="container"></div>
    <div class="row justify-content-center">
      <div id="tab-menu" class="col-12 col-sm-12 col-md-4 col-lg-4">
        <ul class="nav nav-pills" id="nav-tab" role="tablist">
          <li><a class="nav-item nav-link active" id="nav-contact-tab" data-toggle="tab" href="#nav-rutgers" role="tab"
            aria-controls="nav-contact" aria-selected="true">Rutgers OIT</a></li>
          <li><a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-verizon" role="tab"
              aria-controls="nav-home" aria-selected="false">Verizon</a></li>
          <li><a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-ecc" role="tab"
              aria-controls="nav-profile" aria-selected="false">Essex County College</a></li>
          <li><a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-staples" role="tab"
              aria-controls="nav-contact" aria-selected="false">Staples</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-12 col-md-8 col-lg-8">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade" id="nav-verizon" role="tabpanel" aria-labelledby="nav-verizon-tab">
            <p class="job-title">Network Engineer Intern <a class="link"
                href="https://www.verizon.com/business/">@Verizon</a></p>
            <p class="job-date">June 2020 - August 2020</p>
            <ul class="job-desc">
              <li class="list-desc">Supported the team with Full Stack and E2E development of features for One Talk and
                My Verizon for Business app.</li>
              <li class="list-desc">Assisted in the Defect Fixes, User Story Update, UI changes, Production Testing, and
                Alternative Solution.</li>
              <li class="list-desc">Coordinated with Verizon India and others to configure/optimize code and document
                specification throughout pipeline.</li>
            </ul>
          </div>
          <div class="tab-pane fade show active" id="nav-rutgers" role="tabpanel" aria-labelledby="nav-rutgers-tab">
            <p class="job-title">OIT Consultant <a class="link" href="https://it.rutgers.edu/">@RutgersOIT</a></p>
            <p class="job-date">June 2019 - Present</p>

            <ul class="job-desc">
              <li class="list-desc">Configure, troubleshoot, and resolve networking problems with network cards,
                back-end networking hardware, and connectivity (TCP/IP) across the university’s network of desktop
                computers and other devices</li>
              <li class="list-desc">Provide on-call support to over 67,000 members of the University community with
                computing-related services; resolve network, hardware, and software tickets each day in response to user
                service requests.</li>
              <li class="list-desc">Maintain and support systems, workstations, printers, and peripherals, increasing
                productivity; create, review, and resolve tickets to track issues, increasing efficiency when addressing
                similar issues.</li>
            </ul>
          </div>
          <div class="tab-pane fade" id="nav-ecc" role="tabpanel" aria-labelledby="nav-ecc-tab">
            <p class="job-title">Academic Advisor | METC <a class="link"
                href="https://www.essex.edu/">@EssexCountyCollege</a></p>
            <p class="job-date">June 2019 - June 2020</p>
            <ul class="job-desc">
              <li class="list-desc">Advise students on degree programs, courses, and registration; work with 10+
                students daily to set goals, identify, plan for, and overcome obstacles, and define steps in education
                and career planning, achieving 91% satisfaction.</li>
              <li class="list-desc">Foster and maintain professional relationships and trust with students to enable
                successful goal completion and monitor student progress; conduct follow-ups with students to review
                their progress and adjust plans accordingly.</li>
              <li class="list-desc">Create and deliver weekly, monthly, and annual reports based on the results of
                advising and student assessment.</li>
            </ul>
          </div>
          <div class="tab-pane fade" id="nav-staples" role="tabpanel" aria-labelledby="nav-staples-tab">
            <p class="job-title">Tech Associate <a class="link" href="https://www.staples.com/">@Staples</a></p>
            <p class="job-date">September 2018 - June 2019</p>
            <ul class="job-desc">
              <li class="list-desc">Conducted various on-site, in-home repairs, maintenance, facilitated the repair,
                maintenance of computers and other services for 4-7 clients each day while achieving and maintaining 88%
                satisfaction.</li>
              <li class="list-desc">Utilized interpersonal and communication skills in conjunction with VIBE behaviors
                and consultative sales techniques to engage with customers on the sales floor and create a buying
                environment, increasing sales by 8-12%.</li>
              <li class="list-desc">esponded to and resolved resolve customer requests and concerns, using up-to-date
                knowledge of all technologies, products, and services; ensured adherence to all operational policies and
                processes.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
