#experience{
  width: 100%;
  min-height: 80vh;
  background-color: var(--main-bg-color);
  background-size: cover;
  padding-top:50px;
}

.section {
  overflow: hidden;
}

.section-title {
  text-align: center;
}

.section-title h2 {
  font-size: 44px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
  color: var(--main-secondary-color);
}

.container nav{
  width: fit-content;
}
