<section id="projects" class="profile-sec">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2><span>Projects</span></h2>
    </div>

    <div class="box-container">
      <!--Grid-->
      <div class="box">
        <header class="box-top">
          <h5 class="box-title">Blackjack Game</h5>
          <p class="box-desc">
            Simple command line Blackjack game built with OOP goal.
          </p>
        </header>
        <footer class="row box-bottom">
          <div class="col-10 align-self-center box-sub">
            <li>Python</li>
          </div>
          <div class="col-2 box-link">
            <a href="#" class="social"><i class="bx bxl-github"></i></a>
          </div>
        </footer>
      </div>
      <div class="box">
        <header class="box-top">
          <h5 class="box-title">School Management Database</h5>
          <p class="box-desc">
            Small database project build in MySQL. Indexing, Queries, Validation, Updates..
          </p>
        </header>
        <footer class="row box-bottom">
          <div class="col-10 align-self-center box-sub">
            <li>TSQL</li>
          </div>
          <div class="col-2 box-link">
            <a href="#" class="social"><i class="bx bxl-github"></i></a>
          </div>
        </footer>
      </div>
      <div class="box">
        <header class="box-top">
          <h5 class="box-title">CPU Scheduling Calculation</h5>
          <p class="box-desc">
            Simulate FCFS, SJF, SRTF, and Round Robin Scheduling Algorithms. Compute Waiting Time and Turnaround Time of Every Job and Average Waiting Time and Turnaround Time. Show Ghant Chart.
          </p>
        </header>
        <footer class="row box-bottom">
          <div class="col-10 align-self-center box-sub">
            <li>Python</li>
          </div>
          <div class="col-2 box-link">
            <a href="#" class="social"><i class="bx bxl-github"></i></a>
          </div>
        </footer>
      </div>
      <div class="box">
        <header class="box-top">
          <h5 class="box-title">Bay Area Liquors</h5>
          <p class="box-desc">
            I am supporting Full Stack Development in creating a business website for Bay Area Liquors.
          </p>
        </header>
        <footer class="row box-bottom">
          <div class="col-10 align-self-center box-sub">
            <li>Angular</li>
            <li>Firebase</li>
          </div>
          <div class="col-2 box-link">
            <svg width="1em" height=".8em" viewBox="0 0 16 16" class="bi bi-tools box-link" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M0 1l1-1 3.081 2.2a1 1 0 0 1 .419.815v.07a1 1 0 0 0 .293.708L10.5 9.5l.914-.305a1 1 0 0 1 1.023.242l3.356 3.356a1 1 0 0 1 0 1.414l-1.586 1.586a1 1 0 0 1-1.414 0l-3.356-3.356a1 1 0 0 1-.242-1.023L9.5 10.5 3.793 4.793a1 1 0 0 0-.707-.293h-.071a1 1 0 0 1-.814-.419L0 1zm11.354 9.646a.5.5 0 0 0-.708.708l3 3a.5.5 0 0 0 .708-.708l-3-3z"></path>
              <path fill-rule="evenodd" d="M15.898 2.223a3.003 3.003 0 0 1-3.679 3.674L5.878 12.15a3 3 0 1 1-2.027-2.027l6.252-6.341A3 3 0 0 1 13.778.1l-2.142 2.142L12 4l1.757.364 2.141-2.141zm-13.37 9.019L3.001 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026z"></path>
            </svg>
          </div>
        </footer>
      </div>
      <div class="box">
        <header class="box-top">
          <h5 class="box-title">C++ Compiler</h5>
          <p class="box-desc">
            Compiler built in CS-280 with C++ with Lexical Analyzer, Recursive Parser, Post Order Traversals, Dynamic Check, Static Check and Runtime Check.
          </p>
        </header>
        <footer class="row box-bottom">
          <div class="col-10 align-self-center box-sub">
            <li>C++</li>
          </div>
          <!-- <div class="col-2 box-link">
            <a href="#" class="github"><i class="bx bxl-github"></i></a>
          </div> -->
        </footer>
      </div>
    </div>
  </div>
</section>
