<section id="projects" class="projects">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2><span>Projects</span></h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-offset-2">
        <div class="box">
          <div class="box-title">
            Box 1
          </div>
          <div class="box-desc">
            Lorem ipsum dolor sit amet,
          </div>
          <div class="row box-foot">
            <ul class="col-10 box-sub">
              <li>Python</li>
              <li>Flask</li>
            </ul>
            <div class="col-2 box-icon">
              <a href="#" class="proj-icon"><i class="bx bxl-github"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-md-offset-2">
        <div class="box">
          <div class="box-title">
            Box 1
          </div>
          <div class="box-desc">
            Lorem ipsum dolor sit amet,
          </div>
          <div class="row box-foot">
            <ul class="col-10 box-sub">
              <li>Python</li>
              <li>Flask</li>
            </ul>
            <div class="col-2 box-icon">
              <a href="#" class="proj-icon"><i class="bx bxl-github"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-md-offset-2">
        <div class="box">
          <div class="box-title">
            Box 1
          </div>
          <div class="box-desc">
            Lorem ipsum dolor sit amet,
          </div>
          <div class="row box-foot">
            <ul class="col-10 box-sub">
              <li>Python</li>
              <li>Flask</li>
            </ul>
            <div class="col-2 box-icon">
              <a href="#" class="proj-icon"><i class="bx bxl-github"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
