<section id="contact" class="profile-sec">
  <div class="container" data-aos="fade-up">
    <div class="row contact-details justify-content-center">
      <div class="col-12">
        <h2 class="contact-heading">Let's Talk</h2>
      </div>
      <div class="col-10 col-sm-8 col-md-8 col-lg-8">
        <p class="contact-desc">
          I am open to new projects and opportunities. So, shoot me an
          email or say Hello. If you know any fantastic food places in the NY/NJ
          area, send a suggestion.
        </p>
      </div>
      <div class="col-8  email-button"><a id="send-email" class="btn btn-outline" href="mailto:yash.gajera@outlook.com">Say Hello!</a></div>
    </div>
  </div>
</section>
