/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/dist/css/bootstrap-grid.min.css";
@import "~boxicons/css/boxicons.min.css";
@import "~aos/dist/aos.css";
/* https://colorhunt.co/palette/196240 */
/* https://colorhunt.co/palette/191933 */

:root {
  --main-primary-color: #64ffda;
  --main-secondary-color: #dceff9;
  --main-sub-color: #828B8F;
  --main-other-color: #05b2dc;
  --main-bg-color: #092532;

  --hover-primary-bg-color: #64ffda33; /*20% Opacity*/
  --shade-bg-color: #030D11;
}
