/* Intro */
#selfinfo {
  width: 100%;
  min-height: 100vh;
  background-color: #092532;
  background-size: cover;
}
#selfinfo h1 {
  margin: 0;
  font-size: 80px;
  font-weight: 700;
  line-height: 56px;
  color: #e4e3e3;
}

#selfinfo p {
  color: #84a9ac;
  margin: 15px 0 0 0;
  font-size: 35px;
}

#selfinfo p span {
  color: #e1ffc2;
  letter-spacing: 1px;
}

/* Social Icons */
#selfinfo .social-links {
  margin-top: 20px;
}

#selfinfo .social-links a {
  font-size: 28px;
  display: inline-block;
  color: #45505b;
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

#selfinfo .social-links a:hover {
  color: #e1ffc2;
}
