/* Intro */
#selfinfo {
  width: 100%;
  min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  min-height: calc(var(--vh, 1vh) * 100);
  background-color: var(--main-bg-color);
  background-size: cover;
}
#selfinfo h1 {
  margin: 0;
  font-size: 80px;
  font-weight: 700;
  line-height: 56px;
  color: var(--main-secondary-color);
}

#selfinfo p {
  color: var(--main-sub-color);
  margin: 15px 0 0 0;
  font-size: 35px;
}

#selfinfo p span {
  color: var(--main-primary-color);
  letter-spacing: 1px;
}

/* Social Icons */
#selfinfo .social {
  margin-top: 20px;
}

#selfinfo .social a {
  font-size: 28px;
  display: inline-block;
  color: var(--main-sub-color);
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

#selfinfo .social a:hover {
  color: var(--main-primary-color);
}

@media (max-width: 767px) {
  #selfinfo {
    text-align: center;
  }
  #selfinfo h1 {
    font-size: 60px;
    line-height: 60px;
  }
  #selfinfo p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}

